<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>당신의 이름은 <%= userInfo.name%>입니다.</h3>
    <h4>당신의 성별은 <%= userInfo.gender%>입니다.</h3>
    <h3>당신의 생년월일은 <%= userInfo.year%>년 <%= userInfo.month%>월 <%= userInfo.day%>일 입니다.</h3>
    <h4>당신의 취미는 <%= userInfo.hobby %> 입니다.</h4>
    <h3>당신이 좋아하는 색상은 <%= userInfo.color %> 입니다.</h3>
    <h4>당신이 좋아하는 숫자는 <%= userInfo.number %> 입니다.</h4>
</body>
</html>